body
{
	margin: 0;
	padding: 0;
	background-color: #3c3c3c;
	color: #dddddd;
}

#container
{
	width: 400px;
	margin-left: auto; 
	margin-right: auto;
	
	margin-top: 50px;
}


input#wynik
{
	margin-left: 0;
	padding: 2px 10px;
	border: 1px #3950f9 solid;
	height: 40px;
	width: 376px;
	font-size: 30px;
	text-align: right;
	background-color: white;
}
input#lastScore
{
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 0;
	text-align: left;
	color: #dddddd;
	background-color: #3c3c3c;
}

#buttons
{
	width: 300px;
	overflow: hidden;
	float: left;
}

button
{
	width: 100px;
	height: 40px;
	
	border: 2px #3c3c3c solid;
	cursor: pointer;
}

button.darkGray
{
	background-color: #ababab;
}
button.blue
{
	color: white;
	background-color: #3950f9;
}

#allButtons>button
{
	float: right;
}

button:hover
{
	background-color: #bcbcbc;
}

button.darkGray:hover
{
	background-color: #888888;
}
button.blue:hover
{
	background-color: #1324a3;
}